{{ define "footer" }}
<div class="container py-3">
    <div class="row">
        <div class="col">
            Footer menu
        </div>
        <div class="col">
        </div>
        <div class="col text-right">
            <i class="fa fa-linkedin-square mr-2" aria-hidden="true"></i>
            <i class="fa fa-youtube-play mr-2" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </div>
    </div>
</div>
{{ end }}