{{ define "footer" }}
<div class="container">
    <div class="row">
        <div class="col">
            Footer menu
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
    </div>
</div>
{{ end }}