<html data-theme="light">
<head>
    <title>{{ .MetaTitle }}</title>

    {{ template "head" }}

    <!-- Share on Linkedin -->
    <meta property='og:title' content='{{ .Title }}'/>
    <meta property='og:image' content='{{ .Image }}'/>
    <meta property='og:description' content='{{ .Summary }}'/>
    <meta property='og:url' content='https://mihaiblebea.com/article/{{ .Slug }}'/>
    <meta property='author' content='Mihai Blebea'/>
    <meta name="publish_date" property="og:publish_date" content="{{ .Published }}">

    <!-- Share on Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@MBlebea" />
    <meta property="twitter:creator" content="@MBlebea" />
    <meta property="twitter:title" content="{{ .Title }}">
    <meta property="twitter:description" content="{{ .Summary }}">
    <meta property="twitter:image" content="{{ .Image }}">
    <meta property='twitter:url' content='https://mihaiblebea.com/article/{{ .Slug }}'/>

    <link rel="stylesheet" href="/static/css/footer-social.css"/>

</head>
<body>
    {{ template "navbar" }}
    
    <div class="container my-5">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8">
                <a class="mb-4 no-underline d-block" href="/">
                    <i class="fa fa-arrow-left pl-0" aria-hidden="true"></i> Blog
                </a>

                <h1 class="mb-4">{{ .Title }}</h1>

                <div class="mb-4">
                    {{ template "card_author" }}
                </div>

                <img class="mb-3 w-100" src="{{ .Image }}" />
                <p>Published {{ .GetFormatPublished }}</p>

                <div class="text-article">{{ .HTML }}</div>

                <div id="disqus_thread"></div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="mb-3">More related content</h3> 
                <div class="row">
                    {{ range $article := .Articles }}

                        <div class="col-md-4 mb-3 mb-md-0">
                            {{ template "card_article" $article }}
                        </div>

                    {{ end }}
                </div>
            </div>
        </div>
    </div>

    <script>

    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
    var disqus_config = function () {
        this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = window.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://mihaiblebea.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

    <!-- Share article footer -->
    <script src="/static/js/footer-social.js"></script>
    <script>
        const linkedinUrl = '{{ .GetShareOnLinkedinLink }}'
        const facebookUrl = '{{ .GetShareOnFacebookLink }}'
        const twitterUrl = '{{ .GetShareOnTwitterLink }}'
        const footerId = 'social-footer'

        let social = new SocialFooter({
            linkedin: linkedinUrl,
            facebook: facebookUrl,
            twitter: twitterUrl,
            elementId: footerId
        })

        window.onscroll = function() { social.scrolling() }

        {{/* function scrolling() {
            if (scrollPercentage() > 8 && scrollPercentage() < 95) {
                if (isTriggered(footerId) === false) {
                    attachFooter()
                }
            } else {
                if (isTriggered(footerId) === true) {
                    deattachFooter()
                }
            }
        }

        function buildFooter() {
            let wrapper = window.document.createElement('DIV')
            wrapper.classList.add('footer-social')
            wrapper.id = footerId

            // Label
            let label = window.document.createElement('SPAN')
            label.classList.add('mr-2')
            label.innerHTML = 'Share on'

            // Linkedin
            let linkedinAnchor = window.document.createElement('A')
            linkedinAnchor.classList.add('no-underline')
            linkedinAnchor.href = linkedinUrl
            linkedinAnchor.target = '_blank'

            let linkedinIcon = window.document.createElement('I')
            linkedinIcon.className = 'fa fa-linkedin-square mr-2'
            linkedinAnchor.appendChild(linkedinIcon)

            // Facebook
            let facebookAnchor = window.document.createElement('A')
            facebookAnchor.classList.add('no-underline')
            facebookAnchor.href = facebookUrl
            facebookAnchor.target = '_blank'

            let facebookIcon = window.document.createElement('I')
            facebookIcon.className = 'fa fa-facebook-square mr-2'
            facebookAnchor.appendChild(facebookIcon)

            // Twitter
            let twitterAnchor = window.document.createElement('A')
            twitterAnchor.classList.add('no-underline')
            twitterAnchor.href = twitterUrl
            twitterAnchor.target = '_blank'

            let twitterIcon = window.document.createElement('I')
            twitterIcon.className = 'fa fa-twitter-square mr-2'
            twitterAnchor.appendChild(twitterIcon)

            wrapper.appendChild(label)
            wrapper.appendChild(linkedinAnchor)
            wrapper.appendChild(facebookAnchor)
            wrapper.appendChild(twitterAnchor)

            return wrapper
        }

        function attachFooter() {
            let wrapper = buildFooter()
            document.body.appendChild(wrapper)
        }

        function deattachFooter() {
            let wrapper = document.getElementById(footerId)
            document.body.removeChild(wrapper);
        }

        function scrollPercentage() {
            let current = document.body.scrollTop || document.documentElement.scrollTop
            let total = document.body.scrollHeight
            let screen = document.body.clientHeight

            return ((current + screen) / total) * 100
        }

        function isTriggered(id) {
            return document.getElementById(id) !== null
        } */}}
    </script>

    {{ template "footer" }}
</body>
</html>