<html data-theme="light">
<head>
    <title>{{ .MetaTitle }}</title>

    {{ template "head" }}

    <!-- Share on Linkedin -->
    <meta property='og:title' content='{{ .Title }}'/>
    <meta property='og:image' content='{{ .Image }}'/>
    <meta property='og:description' content='{{ .Summary }}'/>
    <meta property='og:url' content='https://mihaiblebea.com/article/{{ .Slug }}'/>
    <meta property='author' content='Mihai Blebea'/>
    <meta name="publish_date" property="og:publish_date" content="{{ .Published }}">

    <!-- Share on Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@MBlebea" />
    <meta property="twitter:creator" content="@MBlebea" />
    <meta property="twitter:title" content="{{ .Title }}">
    <meta property="twitter:description" content="{{ .Summary }}">
    <meta property="twitter:image" content="{{ .Image }}">
    <meta property='twitter:url' content='https://mihaiblebea.com/article/{{ .Slug }}'/>

</head>
<body>
    {{ template "navbar" }}
    
    <div class="container my-5">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8">
                <a class="mb-4 no-underline d-block" href="/">
                    <i class="fa fa-arrow-left pl-0" aria-hidden="true"></i> Blog
                </a>

                <h1 class="mb-4">{{ .Title }}</h1>

                <div class="mb-4">
                    {{ template "card_author" }}
                </div>

                <img class="mb-3 w-100" src="{{ .Image }}" />
                <p>Published {{ .GetHumanReadablePublished }}</p>

                <div class="text-article">{{ .HTML }}</div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12">
                <h3 class="mb-3">More related content</h3> 
                <div class="row">
                    {{ range $article := .Articles }}

                        <div class="col-md-4 mb-3 mb-md-0">
                            {{ template "card_article" $article }}
                        </div>

                    {{ end }}
                </div>
            </div>
        </div>
    </div>

    {{ template "footer" }}
</body>
</html>