<html>
<head>
    <title>{{ .MetaTitle }}</title>

    {{ template "head" }}
</head>
<body>
    {{ template "navbar" }}
    
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="mb-3 text-center">{{ .Title }}</h1>
                <img class="mb-3" src="{{ .Image }}" />
                <div>{{ .HTML }}</div>
            </div>
        </div>
    </div>

    {{ template "footer" }}
</body>
</html>