<html data-theme="dark">
<head>
    <title>{{ .MetaTitle }}</title>

    {{ template "head" }}
</head>
<body>
    {{ template "navbar" }}
    
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="mb-4">{{ .Title }}</h1>

                {{ range $article := .Articles }}

                    <div class="mb-4">
                        {{ template "card_article" $article }}
                    </div>

                {{ end }}
            </div>
        </div>
    </div>

    {{ template "footer" }}
</body>
</html>