<html data-theme="dark">
<head>
    <title>Blog | MihaiBlebea.com</title>

    {{ template "head" }}
</head>
<body>
    {{ template "navbar" }}
    
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {{ if (.IsSet "Tag") }}

                    <h1 class="mb-3">Blog</h1>
                    <h4 class="mb-4"><span class="tag">#{{ .Params.Tag }}</span> tag</h4>

                {{ else }}

                    <h1 class="mb-4">Blog</h1>

                {{ end }}

                {{ range $article := .Params.Articles }}

                    <div class="mb-4">
                        {{ template "card_article" $article }}
                    </div>
                    
                {{ end }}

                <div class="mb-3">
                    {{ template "lead_box" }}
                </div>
            </div>
        </div>
    </div>

    {{ template "footer" }}
</body>
</html>