html {
    --bg: #FCFCFC;
    --bg-card: #FFF;
    --color-text: #333333;
    --color-heading: #000;
    --bg-blockquote: #C3C3C3;
}

html[data-theme="dark"] {
    --bg: #111111;
    --bg-card: #333333;
    --color-text: #B5B5B5;
    --color-heading: #FFF;
    --bg-blockquote: #333333;
}

body {
    background-color: var(--bg);
    color: var(--color-text);
}

img {
    max-width: 100%;
}

blockquote {
    background-color: #FFC300;
    color: #000;
    padding: 20px;
    padding-bottom: 70px;
    text-align: center;
    border-left: 20px solid #ff5733;
}

blockquote::before {
    content: "\"";
    font-size: 40px;
    font-style: italic;
    font-weight: 700;
    color: #ff5733;
}

.text-article blockquote p {
    margin-bottom: 0px;
}

.text-article {
    font-size: 1.1em;
}

.nav-link {
    color: var(--color-heading)!important;
}

.navbar-brand {
    color: var(--color-heading)!important;
}

.navbar-toggler {
    color: var(--color-heading)!important;
}

.card {
    background-color: var(--bg-card);
}

.fa {
    padding: 6px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

a.no-underline {
    text-decoration: none;
}

.fa-youtube-square {
    background: #FF0102;
    color: white;
}

.fa-github-square {
    background: #000;
    color: white;
}

.fa-linkedin-square {
    background: #3B5998;
    color: white;
}

.fa-twitter-square {
    background: #20A1F1;
    color: white;
}

.fa-facebook-square {
    background: #0A82ED;
    color: white;
}

.video-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0; 
    overflow: hidden; 
}

.video-container iframe, .video-container object, .video-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/* Transition animation */
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

.tag {
    background-color: #ff5733;
    color: #fff;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}